<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="navbar-brand" href="#">
    <%= image_tag "cocktail_logo.jpg", alt: "logo" %>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="btn btn-success">
        <%= link_to 'Cocktails', cocktails_path %>
      </li>
    </ul>
  </div>
</div>

<div class="banner">
  <div class="container create-banner">
    <h1>Add a new cocktail!</h1>
  </div>
</div>
<br>
<div class="container create-cocktail-container">
  <div class="form create-form">
    <%= simple_form_for @cocktail do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>

    <%= f.submit "Create cocktail!", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
