<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="navbar-brand" href="#">
    <%= image_tag "cocktail_logo.jpg", alt: "logo" %>
  </div>
 <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="btn btn-success">
        <%= link_to 'Cocktails', cocktails_path %>
      </li>
      <li class="btn btn-info">
        <%= link_to 'Add a cocktail', new_cocktail_path %>
      </li>
    </ul>
  </div>
</div>

<div class="container show-container">

<div class="banner">
  <div class="container show-banner">
    <h1><%= @cocktail.name %></h1>
  </div>
</div>
<br>


  <div class="ingredients-card">
      <img src="">
      <div class="ingredients">
        <ul style="list-style: none;">
          <h2>Ingredients</h2>
          <br>
          <% @cocktail.doses.each do |dose| %>
          <li> <%= dose.description %> <%= dose.ingredient.name %> <%= link_to 'x', dose_path(dose), method: :delete, data: { confirm: "Delete dose?" } %> </li>
          <% end %>
        </ul>
      </div>
      <div class="form dose-form">
        <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.input :description %>
        <%= f.association :ingredient %>
        <%= f.submit "Add dose", class: "btn btn-primary" %>
        <% end %>
      </div>
  </div>

  </div>






